<h1 id="logo"><%= link_to root_path do %><img src="/logo.png"><%end%></h1>
<!--PC用（901px以上端末）メニュー-->
<nav id="menubar">
<ul>
<li><%= link_to "ABOUT", abouts_path %></li>
<li><%= link_to "ITEMS", items_path %></li>
<li><%= link_to "BLOG", blogs_path %></li>
<li><%= link_to "EVENT", events_path %></li>
<li><a href="#">CONTACT</a></li>
</ul>
</nav>
<ul class="icon">
<li><a href="#"><img src="/icon_facebook.png" alt="Facebook"></a></li>
<li><a href="#"><img src="/icon_twitter.png" alt="Twitter"></a></li>
<li><a href="https://www.instagram.com/tabata_shoten/?hl=ja"><img src="/icon_instagram.png" alt="Instagram"></a></li>
<li><a href="#"><img src="/icon_youtube.png" alt="YouTube"></a></li>
</ul>