<!DOCTYPE html>
<html>
  <head>
    <title>Tabata</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class = "home">
  <header>
  <h1 id="logo"><a href="index.html"><img src="/logo.png" alt="INDIES BAND"></a></h1>
  <!--PC用（901px以上端末）メニュー-->
  <nav id="menubar">
  <ul>
  <li><a href="readme.html">NEWS</a></li>
  <li><a href="news.html">ABOUT US</a></li>
  <li><%= link_to "BLOG", blogs_path %></li>
  <li><a href="event.html">EVENT</a></li>
  <li><a href="contact.html">CONTACT</a></li>
  </ul>
  </nav>
  <ul class="icon">
  <li><a href="#"><img src="/icon_facebook.png" alt="Facebook"></a></li>
  <li><a href="#"><img src="/icon_twitter.png" alt="Twitter"></a></li>
  <li><a href="#"><img src="/icon_instagram.png" alt="Instagram"></a></li>
  <li><a href="#"><img src="/icon_youtube.png" alt="YouTube"></a></li>
  </ul>
  </header>
    <%= yield %>
  <!--小さな端末用（900px以下端末）メニュー-->
  <nav id="menubar-s">
  <ul>
  <li><a href="readme.html">NEWS</a></li>
  <li><a href="news.html">ABOUT US</a></li>
  <li><a href="profile.html">CLOTHING</a></li>
  <li><a href="event.html">EVENT</a></li>
  <li><a href="discography.html">BLOG</a></li>
  <li><a href="contact.html">CONTACT</a></li>
  </ul>
  </nav>

  <!--ページの上部に戻る「↑」ボタン-->
  <p class="nav-fix-pos-pagetop"><a href="#">↑</a></p>

  <!--メニュー開閉ボタン-->
  <div id="menubar_hdr" class="close"></div>

  <!--メニューの開閉処理条件設定　900px以下-->
  <script>
  if (OCwindowWidth() <= 900) {
    open_close("menubar_hdr", "menubar-s");
  }
  </script>
  </body>
</html>
